.authentication {
    background: linear-gradient(to top, #fbc2eb 0%, #5c9add 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
  }
