.ColumnContainer {
    margin-left: 2%;
    margin-right: 2%;
  }

  .ColumnHeader{
      display: flex;
      justify-content: space-between;
  }

.ColumnTitle{
    text-align: start;
    padding: 20px 0px;
    color: #0d78be;
    font-size: 25px;
}

.ColumnDatas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-gap: 30px;
        grid-column-gap: 10px;
    
}

.ColumnCard{
    border: 1px solid gray;
    padding: 1%;
    /* margin-left: 5%; */
    border-radius: 3px;
    background-color: 	#dddddd;
    box-shadow: 2px 2px #D0D0D0;
    align-self: flex-start;
}

.ColumnCardHead{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.ColumnNames{
    font-size: 18px;
    text-transform: capitalize;
}
.deleteColumn{
    cursor: pointer;
  }

.DeleteBoardBtn{
    padding: 20px 0px;
}

.DeleteBtn{
    padding: 5px;
    background-color: #f00;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.DeleteBtn:hover {
    background-color: #ff2323;
}

@media only screen and (max-width: 500px) {
    .ColumnDatas{
      grid-template-columns: 1fr;
    }
 }
 