html {scroll-behavior: smooth;}
body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    padding-top: 60px;
    line-height: 1.5;
    background-color: #f9f9f9;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #000;
}
h1, .h1 {font-size: 1.75em;}
h2, .h2 {font-size: 1.7em;}
h3, .h3 {font-size: 1.15em;}
h4, .h4 {font-size: 1.1em;}
h5, h6, .h5, .h6{font-size: 1em; }

p,li {color: #444; font-size: 1em;}
a {color: #444; text-decoration: none;  transition: 0.3s;}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #3face4;
    cursor: pointer;
  }
  .topbtn button:hover{
      background: #000;
      color: #fff;
  }

  a.mainbtn {
    font-family: 'Montserrat', sans-serif;
    width: 170px;
    height: 40px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    background: #5a9fe4;
    color: #fff;
    cursor: pointer;
    border-radius: 18px;
}
/* a.mainbtn:hover {
    background: #999;
    color: #000;
} */

/*--------section header start---------*/

.nav-link{color: #fff!important; font-size: 0.8em; font-family: 'Montserrat', sans-serif; text-transform: uppercase; font-weight: 600;}
.bg-color{background: #00356b!important; }

@media screen and (max-width: 480px) {
    .home_nav{padding-left: 8px;}
}

/*--------section header end---------*/

.form-steps {
  margin-bottom:30px;
}

.form-steps i {
    height: 21px;
    font-size: 30px;
}

.form-steps div {
  text-align: center;
  color: #888;
}

.form-steps div.active {
  color: #00356b;
}

.birth-date {
  font-size: 40px;
}

.select-school{
  padding: 25px 30px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




/*--------footer-area start---------*/
/*--------footer-area end---------*/

@media screen and (max-width: 600px){
  
  h1, .h1 {font-size: 1.2em;}
  h4, .h4 {font-size: 0.7em;}
  i{font-size: 10px;}
   
}